@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Quicksand:wght@300&display=swap');
*{
  /* font-family: 'Quicksand', sans-serif; */
  margin: 0;
  padding: 0;
}


body{
  background-color: #F2F2F2;
  color: #056CF2;
  font-family: 'Dela Gothic One', cursive;
  font-weight: 400;
}

.wrapper{
  width: 1280px;
  margin: 50px auto;
}

header{
  position: relative;
}

header .logo{
  font-weight: 600;
  font-size: 20px;
  
}   

.nav-list{
  float: right; 
  list-style-type: none ;
} 

.nav-list li{
  display: inline;
  margin-left: 25px;
  cursor: pointer;
  transition: opacity 500ms ease;
  text-align: center;
}

.nav-list li:hover{
  opacity: 0.5;
}

.nav-list li a{
  text-decoration: none;
}

header .shop-cart-button{
  float: right;
  cursor: pointer;
  transition: color, transform 500ms ease;
}

header .shop-cart-button:hover,
header .shop-cart-button.active{
  color:#62035a;
}

header .shop-cart{
  position: absolute;
  top: 30px;
  right: 0;
  width: 450px;
  min-height: 100px;
  background-color: #056CF2;
  -webkit-box-shadow: 7px 5px 84px 25px rgba(0, 0, 0, 0.5) inset;
  -moz-box-shadow: 7px 5px 84px 25px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 7px 5px 84px 25px rgba(0, 0, 0, 0.5) inset;
  z-index: 1;
}

header .shop-cart .item{
  display: flex;
  color: white;
  border: 3px solid white;
}

.item .item-text{
  margin: auto auto;
  text-align: center;
  font-family: 'Quicksand', sans-serif; 
}

.item .item-text b{
  display: inline-block;
  margin: 15px ;
  color: red;
}

.item .item-text h2{
  font-size: 20px;
  font-family: 'Quicksand', sans-serif; 
}

header .empty p{
  color: red;
  text-align: center;
}



header .shop-cart .item img{
  width: 150px;
}

header .shop-cart .item .delete-icon{
  color: white;
  cursor: pointer;
  transition: color, transform 500ms ease;
}

header .shop-cart .item .delete-icon:hover{
  color: #030F26;
  transform: scale(1.15);
}

header .shop-cart .summa{
  width: 100%;
  padding: 20px;
  color: white;
  font-weight: 600;
  font-size: 20px;
}

header .shop-cart .summa .price{
  color: red;
}

header .presentation{
  margin: 50px 0;
  background: url(./images/banner-new\ balance.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  width: 100%;
  color:white; 
  height:500px;
  position: relative;
}

header .presentation::after{
  content: "Лучшие кроссовки в России";
  position: absolute;
  top: 40px;
  left: 50px;
  font-size: 40px;
  font-weight: 600;
  color: black;
}

.categories div{
  display: inline-block;
  background: #056CF2;
  border-radius: 50px;
  color: white;
  padding: 10px 20px;
  margin-bottom: 50px;
  margin-right: 15px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 500ms ease;
}

.categories div:hover{
  background: #052e7f;
  transform: scale(1.1);
}

.full-item{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(0, 0, 0 ,0.8);
  z-index: 9999;
  overflow: auto;
}

.full-item > div{
  width: 600px;
  position: relative;
  margin: 10% auto;
  padding: 40px 30px;
  background: #F2F2F2;
  border-radius: 5px;
}

.full-item > div > img{
  width: 100%;
}

main{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

main .item{
  background-color: #056CF2 ;
  width: 30%;
  margin-bottom: 50px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

main .item img,
.full-item .item img{
  width: 100%;
  transition: transform 500ms ease;
  cursor: pointer;
}


main .item img:hover,
.full-item .item img:hover {
  transform: scale(1.05);
} 

main h2, .full-item h2,
main p, .full-item p,
main b, .full-item b{
  margin: 10px 20px;
  color: #e3e0e0;
  padding-bottom: 25px;
}

main b,
.full-item b{
  color: #d75712;
}

main .add-to-cart,
.full-item .add-to-cart{
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: #030F26;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 600;
  transition: 500ms ease;
}

main .add-to-cart:hover,
.full-item .add-to-cart:hover{
  color: red;
  transform: scale(1.05) translateY(-5px);
}

footer{
  text-align: center;
  margin-top: 10px;
}


